<h2>Lista de empleados</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Login</th>
            <th>Clave</th>
            <th>NombreUsuario</th>
            <th>ApellidoUsuario</th>
            <th>TipoUsuario</th>
            <th>FechaUltimaClave</th>
            <th>Intentos</th>
            <th>FechaUltimoIngreso</th>
            <th>NombreCorto</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios">
            <td>{{usuario.login}}</td>
            <td>{{usuario.clave}}</td>
            <td>{{usuario.nombreUsuario}}</td>
            <td>{{usuario.apellidoUsuario}}</td>
            <td>{{usuario.tipoUsuario}}</td>
            <td>{{usuario.fechaUltimaClave}}</td>
            <td>{{usuario.intentos}}</td>
            <td>{{usuario.fechaUltimoIngreso}}</td>
            <td>{{usuario.nombreCorto}}</td>
            <td>{{usuario.estado}}</td>
        </tr>

    </tbody>
</table>