<h2>Lista de empleados</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Login</th>
            <th>Clave</th>
            <th>NombreUsuario</th>
            <th>ApellidoUsuario</th>
            <th>TipoUsuario</th>
            <th>FechaUltimaClave</th>
            <th>Intentos</th>
            <th>FechaUltimoIngreso</th>
            <th>NombreCorto</th>
            <th>Estado</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Direccion</th>
            <th>Documento</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.login}}</td>
            <td>{{user.clave}}</td>
            <td>{{user.nombreUsuario}}</td>
            <td>{{user.apellidoUsuario}}</td>
            <td>{{user.tipoUsuario}}</td>
            <td>{{user.fechaUltimaClave}}</td>
            <td>{{user.intentos}}</td>
            <td>{{user.fechaUltimoIngreso}}</td>
            <td>{{user.nombreCorto}}</td>
            <td>{{user.estado}}</td>
            <td>{{user.telefono}}</td>
            <td>{{user.correo}}</td>
            <td>{{user.direccion}}</td>
            <td>{{user.documento}}</td>
        </tr>

    </tbody>
</table>